<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="main">

        <form action="/create" method="post">
            <input type="text" name="title" placeholder="title goes here">
            <textarea name="details" placeholder="Write your task details"></textarea>
            <input type="submit" value="create task">
        </form>

        <div class="tasks">

            <% if(files.length>0){ %>
                <% files.forEach(function(elem){ %>
                    <div class="task">
                        <h1><%= elem %></h1>
                        <p><a href="/file/<%= elem %>">explore</a></p>
                        <p><a href="/edit/<%= elem %>">edit</a></p>
                    </div>
                <% }); %>
           <% } else { %>
                <h2>No task yet</h2>

            <% } %>

        </div>

    </div>
</body>
</html>